/* Fonts */

@font-face { font-family: QuentinPro; src: url('../font/QuentinPro.ttf'); }

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


/* Variables */

$primary: #31B88A;
$danger: #A00;
$white: #fff;
$grey: #999;

/* Global Styles */

body{
    font-family: 'Exo 2', sans-serif;
}

.color-primary{color: $primary !important;;}

.color-grey{color: $grey !important;;}

.color-danger{color: $danger !important;}

.color-white{color: $white !important;;}

.c-pointer{cursor: pointer;}

.c-default{cursor: default;}

.material-icons.md-dark{color: inherit;}

.blur{ -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px); }

.no-hover{ &:hover{ text-decoration: none !important; opacity: .8; } }

.bg-transparent{background: transparent !important;}


// Login

.login{
    background: url("../img/background-login.png");
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-position: center top;

    .loading{
        z-index: 9999;
    }


    form{
        width: 90%;

        ::-webkit-input-placeholder { color: $white !important; } 
        
        :-moz-placeholder { color: $white !important; } 
        ::-moz-placeholder { color: $white !important; } 
        
        :-ms-input-placeholder { color: $white !important; }

        input{
            background: transparent;
            border: 0;
            border-bottom: solid 1px $white;
            color: $white;
            
            &:hover, &:focus{
                background: transparent;
                border: 0;
                border-bottom: solid 1px $white;
                color: $white;
                box-shadow: none;
            }            
        }
        
        button{
            background: $white;
            color: $primary;
            border-color: $white;
            border-radius: 5px;
            padding: 10px 25px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover, &:focus{
                background: $white !important;
                color: $primary !important;
                border-color: $white !important;
                opacity: .6 !important;
            }

            &:disabled{
                background: $white !important;
                color: $primary !important;
                border-color: $white !important;
                opacity: .3 !important;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .login{

        form{
            width: 100% !important;
        }
    }
}

/* Forms */

label{font-size: 14px; color: $primary;}

input, select { border-radius: 0 !important;}
